@model DogDayCareRS.MVC.UI.Models.RoleViewModel

@{
    ViewBag.Title = "Create";
}

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/Admindoggo.png" data-speed="0.8"></div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <h2 class="moveToCenter sig_subtitle page_subtitle">Add a New Role.</h2>

        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group moveToCenter">
            <input type="submit" value="Create" class="btn btn-warning" />
            <div class="btn btn-primary backButton">
                @Html.ActionLink("Back to Roles", "Index")
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
