<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reserve A Pup</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The Venue template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="~/Content/images/DDRSfavicon.png">

    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/Content/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/plugins/OwlCarousel2-2.2.1/animate.css">
    <link href="~/Content/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
    <link href="~/Content/plugins/jquery-datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="~/Content/plugins/jquery-timepicker/jquery.timepicker.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css">

    <!--Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

    <!--JQureyUI CSS-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <!--Custom Style Sheet-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/CustomStyles.css">
</head>
<body>
    <div class="super_container">

        <!-- Header -->
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <div class="logo">

                                <img src="~/Content/images/DDRSLogo.png" />


                            </div>
                            <nav class="main_nav">
                                <ul class="d-flex flex-row align-items-center justify-content-start">
                                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li><a href="@Url.Action("About","Home")">About</a></li>
                                    <li><a href="@Url.Action("Services","Home")">Services</a></li>
                                    <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                                    <div class="dropdown">
                                        @if (User.IsInRole("Client"))
                                        {
                                            <li><a href="@Url.Action("Details","UserDetails")">My Info</a></li>
                                            <div class="dropdown-content">
                                                <li><a href="@Url.Action("Index","Reservations")">Make a Reservation</a></li>
                                                <li><a href="@Url.Action("Index","OwnerAssets")">My Pups</a></li>

                                            </div>}
                                    </div>
                                    <div class="dropdown">
                                        @if (User.IsInRole("Admin") || (User.IsInRole("Employee")))
                                        {
                                            <li><a href="@Url.Action("Index","Manage")">Admin Panel</a></li>
                                            <div class="dropdown-content">
                                                <li><a href="@Url.Action("Index","Reservations")">Reservations</a></li>
                                                <li><a href="@Url.Action("Index","Locations")">Locations</a></li>
                                                <li><a href="@Url.Action("Index","UserDetails")">Clients</a></li>
                                                <li><a href="@Url.Action("Index","OwnerAssets")">Pups</a></li>
                                                @if (User.IsInRole("Admin"))
                                                {<li><a href="@Url.Action("Index", "RolesAdmin")">Manage&nbsp;Roles</a></li>
                                                    <li><a href="@Url.Action("Index","UsersAdmin")">Manage Users</a></li>}
                                            </div>}
                                    </div>
                                    @Html.Partial("_LoginPartial")

                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Hamburger -->

        <div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
            <div class="hamburger">
                <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
                    <span>menu</span>
                    <div class="hamburger_container">
                        <div class="menu_hamburger">
                            <div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                            <div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
                            <div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu -->
        <!--TODO: Update hamburger menu once you're done with the reg nav bar-->
        <div class="menu trans_800">
            <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="menu.html">Services</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

        </div>

        <!-- Main -->
        <main>
            @RenderBody()
        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <!-- Footer Logo -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_logo">
                            <div class="footer_logo_subtitle">Reserve </div>
                            <div class="footer_logo_title">A <strong style="color:red;">PUP</strong></div>

                        </div>
                        <div class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <p style="line-height: 1.2;">
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | Original template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

                            </p>
                            <p>
                                Cute dog animation by <a href="https://codepen.io/davidkpiano/details/BGxgLa" target="_blank">David Khourshid</a> on codepen.io
                            </p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                    </div>
                    <!-- Footer About -->
                    <div class="col-lg-6 footer_col">
                        <div class="footer_about">
                            <p> A mock Reservation System that is ONLY used for Web Development portfolio and educational purposes, not for profit or monetary gain. This mock site does not claim to own exclusive rights to any/all images used. Any shared names with dogs/persons/businesses are purely coincidental.</p>
                        </div>
                    </div>
                    <!-- Footer Contact -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_contact">
                            <ul>
                                <li class="d-flex flex-row align-items-start justify-content-start">
                                    <div><div class="footer_contact_title">Address :</div></div>
                                    <div class="footer_contact_text">3999 Swope Pkwy, Kansas City, MO 64132</div>
                                </li>
                                <li class="d-flex flex-row align-items-start justify-content-start">
                                    <div><div class="footer_contact_title">Contact :</div></div>
                                    <div class="footer_contact_text">+1 (987) 555-8892</div>
                                </li>
                                <li class="d-flex flex-row align-items-start justify-content-start">
                                    <div><div class="footer_contact_title">Email :</div></div>
                                    <div class="footer_contact_text">totallynotfake@gmail</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>




    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/css/bootstrap-4.1.2/popper.js"></script>
    <script src="~/Content/css/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/Content/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/Content/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/Content/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/Content/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/Content/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/Content/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/Content/plugins/easing/easing.js"></script>
    <script src="~/Content/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/Content/plugins/colorbox/jquery.colorbox-min.js"></script>
    <script src="~/Content/plugins/jquery-datepicker/jquery-ui.js"></script>
    <script src="~/Content/plugins/jquery-timepicker/jquery.timepicker.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <!--Datatable-->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.colVis.min.js"></script>
    <!--Datepicker-->
 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>

