@model DogDayCareRS.MVC.UI.Models.ApplicationUser

@{
                /**/

                ViewBag.Title = "Details";
}

<div class="home2">
    <div class="parallax-mirror2 parallax-slider2" data-parallax="scroll" data-image-src="/Content/images/Admindoggo.png" data-speed="0.8"></div>
</div>

<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro_content">
                    <h4 class="moveToCenter intro_subtitle page_subtitle">@Model.Email</h4>
                    <div class="intro_title"></div>
                    <div class="intro_text">
                        <div>

                            <hr />
                            <div class="moveToCenter4" id="detailsStylingWrapper">

                                <div id="firstDetailsChunk" style="text-align:center;">
                                    <div>
                                        <h4>User</h4>
                                        <hr />
                                        <dl class="dl-horizontal">
                                            <dt>
                                                @Html.DisplayNameFor(model => model.UserName)
                                            </dt>
                                            <dd>
                                                @Html.DisplayFor(model => model.UserName)
                                            </dd>
                                        </dl>
                                    </div>
                                    <h4>List of roles for this user</h4>
                                    @if (ViewBag.RoleNames.Count == 0)
                                    {
                                        <hr />
                                        <p>No roles found for this user.</p>
                                    }

                                    <table class="table">

                                        @foreach (var item in ViewBag.RoleNames)
                                        {
                                            <tr>
                                                <td>
                                                    @item
                                                </td>
                                            </tr>
                                        }
                                    </table>
                                    <p class="moveToCenter">
                                        <div class="btn btn-primary backButton"> @Html.ActionLink("Back to Roles", "Index")</div>
                                        <div class="btn btn-warning">
                                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                                        </div>

                                    </p>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
