@model IEnumerable<DogDayCareRS.MVC.UI.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
  
}

<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/Admindoggo.png" data-speed="0.8"></div>
</div>

<div class="btn btn-warning" style="margin-left: 11%; margin-bottom:2%; margin-top: 2%;">
    @Html.ActionLink("Create New", "Create")
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="dataTables_Correct" style="margin-bottom:2%;">
                <table class="display cell-border" id="UsersAdmin-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#UsersAdmin-table').DataTable({
                'columnDefs': [
                    {
                        'orderable': false,
                        'searchable': false,
                        'targets': [1]
                    },
                ]
            });
        });
    </script>
}
