@model IEnumerable<DogDayCareRS.MVC.DATA.EF.Reservation>


@{
    ViewBag.Title = "Index";
}

<!-- Home -->
<div class="home">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/Content/images/Homedoggo.jpg" data-speed="0.8"></div>
    <div class="home_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content text-center">
                        @if (User.IsInRole("Client")) { 
                        <div class="home_title"><h1>My Reservations</h1></div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="btn btn-warning" style="margin-left: 2%; margin-bottom:2%; margin-top: 2%;">
    @Html.ActionLink("Create New", "Create")
</div>
<div class="dataTables_Correct">
    <table id="reservations-table" class="display cell-border">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerAsset.UserID)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerAsset.UserID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#reservations-table').DataTable({
                'columnDefs': [
                    {
                        'orderable': false,
                        'searchable': false,
                        'targets': [4]
                    },
                ]
            });
        });
    </script>
}