@model IEnumerable<DogDayCareRS.MVC.DATA.EF.Reservation>


@{
    ViewBag.Title = "Index";
}

<div class="home2">
    <div class="parallax-mirror2 parallax-slider2" data-parallax="scroll" data-image-src="/Content/images/Admindoggo.png" data-speed="0.8"></div>
    <br />
</div>


<div class="btn btn-warning" style="margin-left: 2%; margin-bottom:2%;">
    @Html.ActionLink("Create New", "Create")
</div>
<div class="dataTables_Correct">
    <table id="reservations-table" class="display cell-border">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReservationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerAsset.UserID)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerAsset.UserID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#reservations-table').DataTable({
                'columnDefs': [
                    {
                        'orderable': false,
                        'searchable': false,
                        'targets': [4]
                    },
                ]
            });
        });
    </script>
}